<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat-Burgers!</title>


</head>

<body>
	<div class="jumbotron jumbotron-fluid">
		<div style="display: flex">
			<div class="card">
				<div class="container" style="text-align:center">

					<image
						src="https://images.immediate.co.uk/production/volatile/sites/2/2015/08/12812.jpg?quality=90&amp;resize=960%2C408">
						<h1> Perfect Burgers!</h1>
					</image>

				</div>
			</div>
		</div>
	</div>
	{{{ body }}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
	<script src=<"https://images.immediate.co.uk/production/volatile/sites/2/2015/08/12812.jpg?quality=90&amp;resize=960%2C408">
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

</html>